* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1,p{
    text-align: center;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin: 2rem 0rem;
    width: 50%;
    background-color: rgb(252, 255, 252);
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input,
textarea,
select {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;

}

.w-100 {
    width: 100%;
}

form input[type="submit"] {
    background-color: dodgerblue;
    border: none;
    outline: none;
    padding: 8px;
    color: white;
}

input,
textarea,
select,
button {
    border-radius: 5px;

}

#genres{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}