* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgb(245, 179, 179) 0%, rgb(64, 14, 151)100%);
}

a {
    text-decoration: none;
    color: currentColor;
}