* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

body {
    background: radial-gradient(circle, rgb(245, 179, 179) 0%, rgb(64, 14, 151)100%);
}

a {
    text-decoration: none;
    color: currentColor;
}

#moviesContainer {
    margin: 0 5em 5em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px 3px black;
    gap: 5em;
}

.movie {
    position: relative;
    /* overflow: hidden; */
}

.movie>a>div {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    position: absolute;
    height: 99.2%;
    width: 100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.75);
    /* padding-top: 1em;
    padding-bottom: 1em; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}
.movie>a>div>*
{
    margin-left:1em;
    margin-right:1em;
}
.movie>a>img {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0,0.5);

}

.movie:hover>a>div {
    display: flex;
}

#filtering
{
    display: flex;
    margin: 2em;
}

#filtering>*{
    border:0px;
    text-align: center;
    padding: 5px;
}
#search
{
    border-bottom-left-radius: 10px;
    min-width: 30%;
    margin-left: auto;
}
#genreFilter
{
    min-width: 10%;
    border-top-right-radius: 10px;
    margin-right: auto;

}

@media (max-width: 960px)
{
    #moviesContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px)
{
    #moviesContainer {
        grid-template-columns: 1fr;
    }
}
