.navbar {
    background: linear-gradient( rgba(20, 20, 20,1) 0% , rgba(20, 20, 100,0.8) 100%);
    overflow: hidden;
    width: 100%;
    margin-bottom: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    z-index:1;
}


.navbar>ul {
    width: fit-content;
    display: flex;
}

/* Style the links inside the navigation bar */
.navbar>ul>li {
    padding: 1em;
 
}

/* Change the color of links on hover */
.navbar>ul>li:hover {
    background-color: rgba(100,0,255,0.4);
}

