.navbar {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    width: 100%;
    margin-bottom: 2em;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    z-index:1;
}


.navbar>ul {
    width: fit-content;
    display: flex;
}

/* Style the links inside the navigation bar */
.navbar>ul>li {
    padding: 1em;

}

/* Change the color of links on hover */
.navbar>ul>li:hover {
    background-color: rgba(255,255,255,0.5);
}

/* Add a color to the active/current link */
.topnav>a.active {
    background-color: #04AA6D;
    color: white;
}


#filtering {
    display: flex;
    margin: auto;
    flex-grow: 1;
}

#filtering>* {
    border: 0px;
    text-align: center;
    padding: 5px;
}

#search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 70%;
    margin-left: auto;
}

#genreFilter {
    min-width: 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: auto;
}
